{% extends 'components/custom-base.html' %}
{% load static%}

<!-- {% block customstyles %} -->
<!-- SINGLE-PAGE CSS -->
<link href="{% static ''%}assets/plugins/single-page/css/main.css" rel="stylesheet" type="text/css">
<!-- {% endblock customstyles %} -->

{% block class %}
<!-- BACKGROUND-IMAGE -->
<div class="login-img">

    {% endblock class %}

    {% block body %}
    <!-- PAGE -->
    <div class="page">
        <div class="row">
            <div class="col col-login mx-auto">
                <div class="text-center">
                    <img src="{% static ''%}assets/images/brand/logo.png" class="header-brand-img" alt="">
                    <h4>Cambio de Contraseña</h4>
                    <div class="div">
                        <a class="btn btn-sm btn-danger" href="/"><i class="fa fa-times fa-2x"></i></a>
                    </div>

                </div>
            </div>
            <div class="container-login100">
                <div class="row">
                    <div class="col col-login mx-auto">
                        <form action="" class="card shadow-none" method="POST">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="pt-3" id="forgot">
                                    <!-- <div class="wrap-input100 validate-input" data-bs-validate = "Password is required">
                                                {{ form.old_password.label_tag }}
                                                {{ form.old_password }}
                                            </div>
                                            <div class="wrap-input100 validate-input" data-bs-validate = "Password is required">
                                                <label for="id_new_password">Contraseña nueva:</label>
                                                <input class="input100" id="id_new_password" type="password" name="new_password1" autocomplete="new-password" required="">
                                            </div> -->

                                    {{ form.as_p }}
                                    <!-- <div class="wrap-input100 validate-input" data-bs-validate = "Password is required">
                                                <label for="id_new_password2">Contraseña nueva (confirmación)</label>
                                                <input id="id_new_password2" class="input100" type="password" name="new_password2" autocomplete="new-password" required="">
                                                <span class="focus-input100"></span>
                                            </div> -->

                                    <div class="submit">
                                        <input class="btn btn-primary d-grid" type="submit"
                                            value="Modificar Contraseña">
                                    </div>


                                    <div class="row">
                                        <ul>
                                            <li>
                                                Su contraseña no puede asemejarse tanto a su otra información personal.
                                            </li>
                                            <li>
                                                Su contraseña debe contener al menos 8 caracteres.
                                            </li>
                                            <li>
                                                Su contraseña no puede ser una clave utilizada comúnmente.
                                            </li>
                                            <li>
                                                Su contraseña no puede ser completamente numérica.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <p></p>
                            <br><br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End PAGE -->
    {% endblock body %}

    {% block customscripts %}
    {% endblock customscripts %}