{% extends 'components/custom-base.html' %}
{% load static%}

		{% block customstyles %}
		<!-- SINGLE-PAGE CSS -->
		<link href="{% static ''%}assets/plugins/single-page/css/main.css" rel="stylesheet" type="text/css">
		{% endblock customstyles %}

		{% block class %}
		<!-- BACKGROUND-IMAGE -->
		<div class="login-img">
		{% endblock class %}
            
			{% block body %}
            <h1> Su password ha sido cambiada </h1>
            <br><br>
			<!-- PAGE -->
            <h2>Ahora será redigido a la página de inicio de sesión.</h2>
            <a href="accounts/logout"><button class="ui massive primary button"><strong>CONTINUAR</strong></button></a>


			{% endblock body %}
					
		{% block customscripts %}
		{% endblock customscripts %}