{% load static%}				
				<!--/Horizontal-main -->
				<div class="sticky">
					<div class="horizontal-main hor-menu clearfix">
						<div class="horizontal-mainwrapper container clearfix">
							<!--Nav-->
							<nav class="horizontalMenu clearfix">
								<ul class="horizontalMenu-list">
									<li aria-haspopup="true"><a href="index"><i class="fe fe-home"></i> Dashboard</a></li>
									<li aria-haspopup="true"><a href="widgets" class=""><i class="fe fe-grid"></i> Widgets</a></li>
									<li aria-haspopup="true"><a href="#" class="sub-icon"><i class="fe fe-globe"></i>Maps <i class="fa fa-angle-down horizontal-icon"></i></a>
										<ul class="sub-menu">
											<li aria-haspopup="true"><a href="maps1">Leaflet Maps</a></li>
											<li aria-haspopup="true"><a href="maps2">Mapel Maps</a></li>
											<li aria-haspopup="true"><a href="maps">Vector Maps</a></li>
										</ul>
									</li>
									<li aria-haspopup="true"><a href="#" class="sub-icon"><i class="fe fe-database"></i>Components <i class="fa fa-angle-down horizontal-icon"></i></a>
										<ul class="sub-menu">
											<li aria-haspopup="true"><a href="cards"> Cards design</a></li>
											<li aria-haspopup="true"><a href="calendar">Default calendar</a></li>
											<li aria-haspopup="true"><a href="calendar2">Full calendar</a></li>
											<li aria-haspopup="true"><a href="chat">Default Chat</a></li>
											<li aria-haspopup="true"><a href="notify">Notifications</a></li>
											<li aria-haspopup="true"><a href="sweetalert">Sweet alerts</a></li>
											<li aria-haspopup="true"><a href="rangeslider">Range slider</a></li>
											<li aria-haspopup="true"><a href="scroll">Content Scroll bar</a></li>
											<li aria-haspopup="true"><a href="loaders">Loaders</a></li>
											<li aria-haspopup="true"><a href="counters">Counters</a></li>
											<li aria-haspopup="true"><a href="rating">Rating</a></li>
											<li aria-haspopup="true"><a href="timeline">Timeline</a></li>
											<li aria-haspopup="true"><a href="treeview">Treeview</a></li>
											<li aria-haspopup="true" class="sub-menu-sub"><a href="#">Submenus</a>
												<ul class="sub-menu">
													<li aria-haspopup="true" class="sub-menu-sub"><a href="#">Level-1</a>
														<ul class="sub-menu">
															<li aria-haspopup="true"><a href="#">Level-1.1</a></li>
															<li aria-haspopup="true"><a href="#">Level-1.2</a></li>
															<li aria-haspopup="true"><a href="#">Level-1.3</a></li>
														</ul>
													</li>
													<li aria-haspopup="true" class="sub-menu-sub"><a href="#">Level-2</a>
														<ul class="sub-menu">
															<li aria-haspopup="true"><a href="#">Level-2.1</a></li>
															<li aria-haspopup="true"><a href="#">Level-2.2</a></li>
															<li aria-haspopup="true"><a href="#">Level-2.3</a></li>
														</ul>
													</li>
												</ul>
											</li>
										</ul>
									</li>
									<li aria-haspopup="true"><a href="#" class="sub-icon"><i class="fe fe-package"></i> Elements  <i class="fa fa-angle-down horizontal-icon"></i></a>
										<div class="horizontal-megamenu clearfix">
											<div class="container">
												<div class="mega-menubg">
													<div class="row">
														<div class="col-lg-3 col-md-12 col-xs-12 link-list">
															<ul>
																<li aria-haspopup="true"><a href="alerts">Alerts</a></li>
																<li aria-haspopup="true"><a href="buttons">Buttons</a></li>
																<li aria-haspopup="true"><a href="colors">Colors</a></li>
																<li aria-haspopup="true"><a href="avatarsquare">Avatar-Square</a></li>
																<li aria-haspopup="true"><a href="avatarround">Avatar-Rounded</a></li>
																<li aria-haspopup="true"><a href="avatarradius">Avatar-Radius</a></li>
																<li aria-haspopup="true"><a href="dropdown">Drop downs</a></li>
																<li aria-haspopup="true"><a href="list">List</a></li>
																<li aria-haspopup="true"><a href="tags">Tags</a></li>
																<li aria-haspopup="true"><a href="mediaobject">Media Object</a></li>
															</ul>
														</div>
														<div class="col-lg-3 col-md-12 col-xs-12 link-list">
															<ul>
																<li aria-haspopup="true"><a href="pagination">Pagination</a></li>
																<li aria-haspopup="true"><a href="navigation">Navigation</a></li>
																<li aria-haspopup="true"><a href="typography">Typography</a></li>
																<li aria-haspopup="true"><a href="breadcrumbs">Breadcrumbs</a></li>
																<li aria-haspopup="true"><a href="badge">Badges</a></li>
																<li aria-haspopup="true"><a href="panels">Panels</a></li>
																<li aria-haspopup="true"><a href="thumbnails">Thumbnails</a></li>
																<li aria-haspopup="true"><a href="modal">Modal</a></li>
																<li aria-haspopup="true"><a href="tooltipandpopover">Tooltip and popover</a></li>
																<li aria-haspopup="true"><a href="progress">Progress</a></li>
															</ul>
														</div>
														<div class="col-lg-3 col-md-12 col-xs-12 link-list">
															<ul>
																<li aria-haspopup="true"><a href="carousel">Carousels</a></li>
																<li><h3 class="fs-14 fw-bold mb-1">Tables</h3></li>
																<li aria-haspopup="true"><a href="tables">Default table</a></li>
																<li aria-haspopup="true"><a href="datatable"> Data Tables</a></li>
																<li><h3 class="fs-14 fw-bold mb-1 mt-3">E-Commerce</h3></li>
																<li aria-haspopup="true"><a href="shop">Shop</a></li>
																<li aria-haspopup="true"><a href="shopdescription">Product Details</a></li>
																<li aria-haspopup="true"><a href="cart">Shopping Cart</a></li>
																<li aria-haspopup="true"><a href="wishlist">Wishlist</a></li>
																<li aria-haspopup="true"><a href="checkout">Checkout</a></li>

															</ul>
														</div>
														<div class="col-lg-3 col-md-12 col-xs-12 link-list">
															<ul>
																<li><h3 class="fs-14 fw-bold mb-1">Authenication & Error</h3></li>
																<li aria-haspopup="true"><a href="login">Login</a></li>
																<li aria-haspopup="true"><a href="register">Register</a></li>
																<li aria-haspopup="true"><a href="forgotpassword">Forgot Password</a></li>
																<li aria-haspopup="true"><a href="lockscreen">Lock screen </a></li>
																<li aria-haspopup="true"><a href="error400">400</a></li>
																<li aria-haspopup="true"><a href="error401">401</a></li>
																<li aria-haspopup="true"><a href="error403">403</a></li>
																<li aria-haspopup="true"><a href="error404">404</a></li>
																<li aria-haspopup="true"><a href="error403">500</a></li>
																<li aria-haspopup="true"><a href="error503">503</a></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</li>
									<li aria-haspopup="true"><a href="#" class="sub-icon"><i class="fe fe-file"></i>Advanced Elements <i class="fa fa-angle-down horizontal-icon"></i></a>
										<ul class="sub-menu">
											<li aria-haspopup="true"><a href="accordion"> Accordions</a></li>
											<li aria-haspopup="true"><a href="tabs">Tabs</a></li>
											<li aria-haspopup="true"><a href="chart">Charts</a></li>
											<li aria-haspopup="true"><a href="headers">Headers</a></li>
											<li aria-haspopup="true"><a href="footers">Footers</a></li>
											<li aria-haspopup="true"><a href="userslist">User List</a></li>
											<li aria-haspopup="true"><a href="search">Search</a></li>
											<li aria-haspopup="true"><a href="cryptocurrencies">Crypto-currencies</a></li>
										</ul>
									</li>
									<li aria-haspopup="true"><a href="#" class="sub-icon"><i class="fe fe-pie-chart"></i> Charts <i class="fa fa-angle-down horizontal-icon"></i></a>
										<ul class="sub-menu">
											<li aria-haspopup="true"><a href="chartchartist">Chart Js</a></li>
											<li aria-haspopup="true"><a href="chartflot">Flot Charts</a></li>
											<li aria-haspopup="true"><a href="chartechart">ECharts</a></li>
											<li aria-haspopup="true"><a href="chartmorris">Morris Charts</a></li>
											<li aria-haspopup="true"><a href="chartnvd3">Nvd3 Charts</a></li>
											<li aria-haspopup="true"><a href="charts">C3 Bar Charts</a></li>
											<li aria-haspopup="true"><a href="chartline">C3 Line Charts</a></li>
											<li aria-haspopup="true"><a href="chartdonut">C3 Donut Charts</a></li>
											<li aria-haspopup="true"><a href="chartpie">C3 Pie Charts</a></li>
										</ul>
									</li>
									<li aria-haspopup="true"><a href="#" class="sub-icon"><i class="fe fe-layers"></i> Pages <i class="fa fa-angle-down horizontal-icon"></i></a>
										<ul class="sub-menu">
											<li aria-haspopup="true" class="sub-menu-sub"><a href="#">Profile</a>
												<ul class="sub-menu">
													<li aria-haspopup="true"><a href="profile"> Profile </a></li>
													<li aria-haspopup="true"><a href="editprofile">Edit Profile</a></li>
												</ul>
											</li>
											<li aria-haspopup="true" class="sub-menu-sub"><a href="#">Mail</a>
												<ul class="sub-menu">
													<li aria-haspopup="true"><a href="email">Mail-Inbox</a></li>
													<li aria-haspopup="true"><a href="emailservices">Mail-Compose</a></li>
												</ul>
											</li>
											<li aria-haspopup="true" class="sub-menu-sub"><a href="#">Forms</a>
												<ul class="sub-menu">
													<li aria-haspopup="true"><a href="formelements">Form Elements</a></li>
													<li aria-haspopup="true"><a href="formadvanced">Form Advanced</a></li>
													<li aria-haspopup="true"><a href="wysiwyag">Form Editor</a></li>
													<li aria-haspopup="true"><a href="formwizard">Form Wizard</a></li>
													<li aria-haspopup="true"><a href="formvalidation">Form Validation</a></li>
												</ul>
											</li>
											<li aria-haspopup="true"><a href="gallery">Gallery</a></li>
											<li aria-haspopup="true"><a href="about">About Company </a></li>
											<li aria-haspopup="true"><a href="services">Services </a></li>
											<li aria-haspopup="true"><a href="faq">FAQS</a></li>
											<li aria-haspopup="true"><a href="terms">Terms</a></li>
											<li aria-haspopup="true"><a href="invoice">Invoice</a></li>
											<li aria-haspopup="true"><a href="pricing">Pricing Tables</a></li>
											<li aria-haspopup="true"><a href="blog">Blog</a></li>
											<li aria-haspopup="true"><a href="empty">Empty Page</a></li>
											<li aria-haspopup="true" ><a href="construction">Under Construction</a></li>
										</ul>
									</li>
									<li aria-haspopup="true"><a href="#" class="sub-icon"><i class="fe fe-command"></i> Icons <i class="fa fa-angle-down horizontal-icon"></i></a>
										<ul class="sub-menu">
											<li aria-haspopup="true"><a href="icons">Font Awesome</a></li>
											<li aria-haspopup="true"><a href="icons2">Material Design Icons</a></li>
											<li aria-haspopup="true"><a href="icons3">Simple Line Icons</a></li>
											<li aria-haspopup="true"><a href="icons4">Feather Icons</a></li>
											<li aria-haspopup="true"><a href="icons5">Ionic Icons</a></li>
											<li aria-haspopup="true"><a href="icons6">Flag Icons</a></li>
											<li aria-haspopup="true"><a href="icons7">pe7 Icons</a></li>
											<li aria-haspopup="true"><a href="icons8">Themify Icons</a></li>
											<li aria-haspopup="true"><a href="icons9">Typicons Icons</a></li>
											<li aria-haspopup="true"><a href="icons10">Weather Icons</a></li>
										</ul>
									</li>
								</ul>
							</nav>
							<!--Nav-->
						</div>
					</div>
				</div>
				<!--/Horizontal-main -->