{% extends 'components/custom-base.html' %}
{% load static%}

		{% block customstyles %}
		<link href="{% static ''%}assets/plugins/single-page/css/main.css" rel="stylesheet" type="text/css">
		{% endblock customstyles %}

		{% block class %}
		<!-- BACKGROUND-IMAGE -->
		<div class="login-img">
        
		{% endblock class %}
        
			{% block body %}
			<!-- PAGE -->
			<div class="page">
				<div class="row">
                    <div class="col col-login mx-auto">
						<div class="text-center">
							<img src="{% static ''%}assets/images/brand/logo.png" class="header-brand-img" alt="">
                            <h3 style="color:floralwhite">Restablecimiento de contraseña completado</h3>
                            <h5 style="color:floralwhite">
                                Su contraseña ha sido establecida. Ahora puede continuar e <a style="background-color: yellowgreen;" href="/" >Iniciar sesión.</a>
                            </h5>
                            <div>
                                <a href="/">Iniciar sesión</a> 
                                <a class="btn btn-sm btn-danger" href="/"><i class="fa fa-times fa-2x"></i></a>
                            </div>
						</div>
					</div>
				</div>
			</div>
			<!-- End PAGE -->
			{% endblock body %}
					
		{% block customscripts %}
		{% endblock customscripts %}

