{% extends 'components/custom-base.html' %}
{% load static%}
		{% block customstyles %}
		<link href="{% static ''%}assets/plugins/single-page/css/main.css" rel="stylesheet" type="text/css">
		{% endblock customstyles %}

		{% block class %}
		<!-- BACKGROUND-IMAGE -->
		<div class="login-img">
        
		{% endblock class %}
        
			{% block body %}
			<!-- PAGE -->
			<div class="page">
				<div class="row">
                    <div class="col col-login mx-auto">
						<div class="text-center">
							<img src="{% static ''%}assets/images/brand/logo.png" class="header-brand-img" alt="">
                            <h4 style="color:floralwhite">Solicitar nueva contraseña</h4>
                            <div class="div">
                                <a class="btn btn-sm btn-danger" href="/"><i class="fa fa-times fa-2x"></i></a>    
                            </div>
						</div>
                        <div class="container-login100-form-btn">
                            <p class="" style="color:floralwhite">
                                Ha olvidado su contraseña?. Ingrese su correo electrónico y
                                le enviaremos un mensaje con las instrucciones para crear su nueva contraseña.
                            </p>
                        </div>
					</div>
					<div class="container-login100">
						<div class="row">
                            <div class="col col-login mx-auto">
                                <form action="" class="card shadow-none" method="POST">
                                    {% csrf_token %}
                                    <div class="card-body">
                                        <div class="pt-3" id="forgot">
                                            {{ form }}
                                            <div class="submit">
                                                <input  class="btn btn-primary d-grid" type="submit" value="Enviar email">
                                            </div>
                                        </div>
                                    </div>
                                    <br><br>
                                </form>
                            </div>
						</div>
					</div>
				</div>
			</div>
			<!-- End PAGE -->
			{% endblock body %}
					
		{% block customscripts %}
		{% endblock customscripts %}

