{% load static%}        
        <!-- JQUERY JS -->
        <script src="{% static ''%}assets/js/jquery.min.js"></script>

        <!-- BOOTSTRAP JS -->
        <script src="{% static ''%}assets/plugins/bootstrap/js/popper.min.js"></script>
        <script src="{% static ''%}assets/plugins/bootstrap/js/bootstrap.min.js"></script>

        <!-- INPUT MASK PLUGIN-->
        <script src="{% static ''%}assets/plugins/input-mask/jquery.mask.min.js"></script>

        <!-- CUSTOM JS-->
        <script src="{% static ''%}assets/js/custom.js"></script>