{% extends 'components/custom-base.html' %}
{% load static%}

{% block customstyles %}

<link href="{% static ''%}assets/plugins/single-page/css/main.css" rel="stylesheet" type="text/css">
{% endblock customstyles %}

{% block class %}
<!-- BACKGROUND-IMAGE -->
<div class="login-img">

	{% endblock class %}

	{% block body %}
	<!-- PAGE -->
	<div class="page">
		<div class="row">
			<div class="col col-login mx-auto">
				<div class="text-center">
					<img src="{% static ''%}assets/images/brand/logo.png" class="header-brand-img" alt="">
					<h3 style="color:floralwhite">Restablecimiento de contraseña enviado</h3>
				</div>
				<div class="row">
					<div class="container">
						<p class="" style="color:floralwhite">
						<h5>
							Le enviamos instrucciones por correo electrónico para configurar su contraseña, si existe
							una cuenta con el correo electrónico que ingresó. Debería recibirlos en breve.
							Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se
							registró y verifique su carpeta de correo no deseado.
						</h5>
						</p><a class="btn btn-sm btn-danger" href="/"><i class="fa fa-times fa-2x"></i></a>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End PAGE -->
	{% endblock body %}

	{% block customscripts %}
	{% endblock customscripts %}