{% extends 'components/base.html' %}
{% load static%}

		{% block styles %}
		<!--C3 CHARTS CSS -->
		<link href="{% static ''%}assets/plugins/charts-c3/c3-chart.css" rel="stylesheet"/>
		{% endblock styles %}

					{% block body %}
					<!-- PAGE-HEADER -->
					<div class="page-header">
						<div>
							<h1 class="page-title">Directorio</h1>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Charts</a></li>
								<li class="breadcrumb-item active" aria-current="page">Reporte Directorio</li>
							</ol>
						</div>
					</div>
					<!-- PAGE-HEADER END -->

				    <!-- ROW-1 OPEN -->
					<div class="row">
						<div class="col-lg-6 col-md-12">
							<div class="card">
								<div class="card-header">
									<h3 class="card-title">Reclamos por Area</h3>
								</div>
								<div class="card-body">
									<div id="chart-pie1" class="chartsh"></div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-12">
							<div class="card">
								<div class="card-header">
									<h3 class="card-title">Tiempo Promedio : Primera Respuesta por Area</h3>
								</div>
								<div class="card-body">
									<div id="chart-bar-rotated" class="chartsh"></div>
								</div>
							</div>
						</div><!-- COL-END -->
					</div>
					<!-- ROW-1 CLOSE -->

					<!-- ROW-2 OPEN -->
					<div class="row">
						<div class="col-lg-6 col-md-12">
							<div class="card">
								<div class="card-header">
									<h3 class="card-title">Pie Chart3</h3>
								</div>
								<div class="card-body">
									<div id="chart-pie3" class="chartsh"></div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-12">
							<div class="card">
								<div class="card-header">
									<h3 class="card-title">Pie Chart4</h3>
								</div>
								<div class="card-body">
									<div id="chart-pie4" class="chartsh"></div>
								</div>
							</div>
						</div>
					</div>
					<!-- ROW-2 CLOSE -->
					{% endblock body %}
					
		{% block scripts %}
		<!-- C3 CHART JS -->
		<script src="{% static ''%}assets/plugins/charts-c3/d3.v5.min.js"></script>
		<script src="{% static ''%}assets/plugins/charts-c3/c3-chart.js"></script>

		<!-- C3-PIE CHART JS
		<script src="{% static ''%}assets/js/charts.js"></script> -->

		 <!--- Apache ECharts -->
		 <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.5.0/echarts.min.js"></script>
		 <!--- Custom JS -->
		 <script src="{% static 'js/reporte-directorio.js' %}"></script>
		{% endblock scripts %}

