{% extends 'components/base.html' %}
{% load static%}

		{% block styles %}
		<!-- SELECT2 CSS -->
		<link href="{% static ''%}assets/plugins/select2/select2.min.css" rel="stylesheet"/>

		<!-- INTERNAL Data table css -->
		<link href="{% static ''%}assets/plugins/datatable/css/dataTables.bootstrap5.css" rel="stylesheet" />
		<link href="{% static ''%}assets/plugins/datatable/responsive.bootstrap5.css" rel="stylesheet" />
		{% endblock styles %}

						{% block body %}
						<!-- PAGE-HEADER -->
						<div class="page-header">
							<div>
								<h1 class="page-title">Dashboard 01</h1>
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="#">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Dashboard</li>
								</ol>
							</div>
							<!-- <div class="ms-auto pageheader-btn">
								<a href="#" class="btn btn-primary btn-icon text-white me-2">
									<span>
										<i class="fe fe-plus"></i>
									</span> Add Account
								</a>
								<a href="#" class="btn btn-success btn-icon text-white">
									<span>
										<i class="fe fe-log-in"></i>
									</span> Export
								</a>
							</div> -->
						</div>
						<!-- PAGE-HEADER END -->

						<!-- ROW-1 -->
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
								<div class="row">
									<h1 class="page-title" align="center" style="color: #004A99">{{ colegio.nombre }}</h1>
									<div class="col-lg-6 col-md-12 col-sm-12 col-xl-3">
										<div class="card overflow-hidden">
											<div class="card-body">
												<div class="row">
													<div class="col">
														<h6 class="">Total Casos Nuevos</h6>
														<h3 class="mb-2 number-font">{{ nuevos }}</h3>
														<!-- <p class="text-muted mb-0">
															<span class="text-primary"><i class="fa fa-chevron-circle-up text-primary me-1"></i> 3%</span>
															
														</p> -->
													</div>
													<div class="col col-auto">
														<div class="counter-icon bg-primary-gradient box-shadow-primary brround ms-auto">
															<i class="fe fe-trending-up text-white mb-5 "></i>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-12 col-sm-12 col-xl-3">
										<div class="card overflow-hidden">
											<div class="card-body">
												<div class="row">
													<div class="col">
														<h6 class="">Primera respuesta Colegio</h6>
														<h3 class="mb-2 number-font">{{ colegio1 }}</h3>
														<!-- <p class="text-muted mb-0">
															<span class="text-secondary"><i class="fa fa-chevron-circle-up text-secondary me-1"></i> 3%</span>
															last month
														</p> -->
													</div>
													<div class="col col-auto">
														<div class="counter-icon bg-danger-gradient box-shadow-danger brround  ms-auto">
															<i class="icon icon-rocket text-white mb-5 "></i>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-12 col-sm-12 col-xl-3">
										<div class="card overflow-hidden">
											<div class="card-body">
												<div class="row">
													<div class="col">
														<h6 class="">Conversación Colegio</h6>
														<h3 class="mb-2 number-font">{{ conversacioncolegio }}</h3>
														<!-- <p class="text-muted mb-0">
															<span class="text-success"><i class="fa fa-chevron-circle-down text-success me-1"></i> 0.5%</span>
															last month
														</p> -->
													</div>
													<div class="col col-auto">
														<div class="counter-icon bg-secondary-gradient box-shadow-secondary brround ms-auto">
															<i class="fe fe-dollar-sign text-white mb-5 "></i>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-12 col-sm-12 col-xl-3">
										<div class="card overflow-hidden">
											<div class="card-body">
												<div class="row">
													<div class="col">
														<h6 class="">Conversación Apoderado</h6>
														<h3 class="mb-2 number-font">{{ conversacionapoderado }}</h3>
														<!-- <p class="text-muted mb-0">
															<span class="text-danger"><i class="fa fa-chevron-circle-down text-danger me-1"></i> 0.2%</span>
															last month
														</p> -->
													</div>
													<div class="col col-auto">
														<div class="counter-icon bg-success-gradient box-shadow-success brround  ms-auto">
															<i class="fe fe-briefcase text-white mb-5 "></i>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-12 col-sm-12 col-xl-3">
										<div class="card overflow-hidden">
											<div class="card-body">
												<div class="row">
													<div class="col">
														<h6 class="">Cerrados</h6>
														<h3 class="mb-2 number-font">{{ cerrado }}</h3>
														<!-- <p class="text-muted mb-0">
															<span class="text-danger"><i class="fa fa-chevron-circle-down text-danger me-1"></i> 0.2%</span>
															last month
														</p> -->
													</div>
													<div class="col col-auto">
														<div class="counter-icon bg-success-gradient box-shadow-success brround  ms-auto">
															<i class="fe fe-briefcase text-white mb-5 "></i>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- ROW-2 END -->

						<!-- ROW-2 -->
						<div class="row">
							<div class="col-sm-12 col-md-12 col-lg-12 col-xl-9">
								<div class="card">
									<div class="card-header">
										<h3 class="card-title">Total Casos</h3>
									</div>
									<div class="card-body pb-0">
										<div id="chartArea" class="chart-donut">{{ 100 }}</div>
									</div>
								</div>
							</div><!-- COL END -->
						</div>
						<!-- ROW-2 END -->

						<!-- ROW-3 -->

						{% endblock body %}
					
		{% block scripts %}
		<!-- INTERNAL SELECT2 JS -->
		<script src="{% static ''%}assets/plugins/select2/select2.full.min.js"></script>

		<!-- INTERNAL Data tables js-->
		<script src="{% static ''%}assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
		<script src="{% static ''%}assets/plugins/datatable/js/dataTables.bootstrap5.js"></script>
		<script src="{% static ''%}assets/plugins/datatable/dataTables.responsive.min.js"></script>

		<!-- ECHART JS-->
		<script src="{% static ''%}assets/plugins/echarts/echarts.js"></script>

		<!-- APEXCHART JS -->
		<script src="{% static ''%}assets/js/apexcharts.js"></script>

		<!-- INDEX JS -->
		<script src="{% static ''%}assets/js/index1.js"></script>
		{% endblock scripts %}
