{% extends 'components/base.html' %}
{% load static%}

{% load tz %}
{% load humanize %}
        {% block styles %}
		{% endblock styles %}
        {% block body %}
        <!-- PAGE-HEADER -->
        <div class="page-header">
            <div>
                <h1 class="page-title">Tickets</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Resumen</a></li>
                </ol>
            </div>
        </div>
        <!-- PAGE-HEADER END -->

        <!-- ROW-1 OPEN -->
        <div class="row" id="user-profile">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="wideget-user">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-xl-6">
                                    <div class="wideget-user-desc d-flex">
                                        <div class="wideget-user-img">
                                            <!-- <img class="" src="{% static ''%}assets/images/users/8.jpg" alt="img"> -->
                                            <img class="" src="{% static ''%}assets/images/logo_abadia.png" alt="img" height="56px">
                                        </div>
                                        <div class="user-wrap">
                                            <h4>Colegio La Abadía</h4>
                                            <h6 class="text-muted mb-3">lema Colegio.....</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-xl-6">
                                    <div class="text-xl-right mt-4 mt-xl-0">
                                    </div>
                                    <div class="mt-5">
                                        <div class="main-profile-contact-list float-md-end d-lg-flex">
                                            <div class="me-5">
                                                <div class="media">
                                                    <div class="media-icon bg-primary  me-3 mt-1">
                                                        <i class="fa fa-dollar fs-20 text-white"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <span class="text-muted">DATO 1</span>
                                                        <div class="fw-semibold fs-25">
                                                            dato 1
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="me-5 mt-5 mt-md-0">
                                                <div class="media">
                                                    <div class="media-icon bg-success me-3 mt-1">
                                                        <i class="fe fe-database  fs-20 text-white"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <span class="text-muted">DATO 2</span>
                                                        <div class="fw-semibold fs-25">
                                                            dato 2
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="me-5 mt-5 mt-md-0">
                                                <div class="media">
                                                    <div class="media-icon bg-orange me-3 mt-1">
                                                        <i class="fe fe-disc fs-20 text-white"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <span class="text-muted">DATO 3</span>
                                                        <div class="fw-semibold fs-25">
                                                            dato 3
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="border-top">
                        <div class="wideget-user-tab">
                            <div class="tab-menu-heading">
                                <div class="tabs-menu1">
                                    <ul class="nav">
                                        <li class=""><a href="#tab-51" class="active show" data-bs-toggle="tab">Nuevo</a></li>
                                        <li><a href="#tab-61" data-bs-toggle="tab" class="">Esperando Respuesta</a></li>
                                        <li><a href="#tab-71" data-bs-toggle="tab" class="">Esperando Acción</a></li>
                                        <li><a href="#tab-81" data-bs-toggle="tab" class="">Cerrado</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active show" id="tab-51">
                        <ul class="widget-users row  mb-5">
                            <div class="row row-sm">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title">Tickets Nuevos</h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-bordered text-nowrap border-bottom" id="basic-datatable">
                                                    <thead>
                                                        <tr align="center">
                                                            <th class="wd-15p border-bottom-0">Ticket N°</th>
                                                            <th class="wd-15p border-bottom-0">Tipo Contacto</th>
                                                            <th class="wd-20p border-bottom-0">Tema Contacto</th>
                                                            <th class="wd-20p border-bottom-0">Nivel/Curso</th>
                                                            <th class="wd-20p border-bottom-0">Fecha Ingreso</th>
                                                            <th class="wd-20p border-bottom-0">Visor</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for nuevo in nuevos %}
                                                            <tr style="background-color: {{ nuevo.tipocontacto.color }};">
                                                                <td align="center">{{ nuevo.id }}</td>
                                                                <td align="center">{{ nuevo.tipocontacto.nombre }}</td>
                                                                <td>
                                                                    <div class="d-flex">
                                                                        <div class="ms-2 mt-0 mt-sm-2 d-block">
                                                                            <h6 class="mb-0 fs-14 fw-semibold">{{ nuevo.subarea.nombre }}</h6>
                                                                            <span class="fs-12 text-muted">{{nuevo.subarea.area}}</span>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="d-flex">
                                                                        <div class="ms-2 mt-0 mt-sm-2 d-block">
                                                                            <h6 class="mb-0 fs-14 fw-semibold">{{ nuevo.nivel.nombre }}</h6>
                                                                            <span class="fs-12 text-muted">{{nuevo.curso.nombre }}</span>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td class="text-muted fs-15 fw-semibold">{{nuevo.fechacreacion|date:"d/m/Y"}}</td>
                                                            
                                                                <td align="center" class="">
                                                                    <a class="btn-primary btn" href="{% url 'visor-ticket' nuevo.id %}"><i class="fa fa-address-card-o fa-2x"></i></a>
                                                                </td>
        
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ul>

                    </div>
                    <div class="tab-pane" id="tab-61">
                        <ul class="widget-users row  mb-5">
                            <div class="row row-sm">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title">Esperando Respuesta del Colegio</h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-bordered text-nowrap border-bottom" id="basic-datatable">
                                                    <thead>
                                                        <tr align="center">
                                                            <th class="wd-15p border-bottom-0">Ticket N°</th>
                                                            <th class="wd-15p border-bottom-0">Tipo Contacto</th>
                                                            <th class="wd-20p border-bottom-0">Tema Contacto</th>
                                                            <th class="wd-20p border-bottom-0">Nivel/Curso</th>
                                                            <th class="wd-20p border-bottom-0">Fecha Ingreso</th>
                                                            <th class="wd-20p border-bottom-0">Visor</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for resp in respuestas %}
                                                            <tr style="background-color: {{ resp.tipocontacto.color }};">
                                                                <td align="center">{{ resp.id }}</td>
                                                                <td align="center">{{ resp.tipocontacto.nombre }}</td>
                                                                <td>
                                                                    <div class="d-flex">
                                                                        <div class="ms-2 mt-0 mt-sm-2 d-block">
                                                                            <h6 class="mb-0 fs-14 fw-semibold">{{ resp.subarea.nombre }}</h6>
                                                                            <span class="fs-12 text-muted">{{resp.subarea.area }}</span>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="d-flex">
                                                                        <div class="ms-2 mt-0 mt-sm-2 d-block">
                                                                            <h6 class="mb-0 fs-14 fw-semibold">{{ resp.nivel.nombre }}</h6>
                                                                            <span class="fs-12 text-muted">{{resp.curso.nombre }}</span>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td class="text-muted fs-15 fw-semibold">{{resp.fechacreacion|date:"d/m/Y"}}</td>

                                                                <td align="center" class="">
                                                                    <a class="btn-primary btn" href="{% url 'visor-ticket' resp.id %}"><i class="fa fa-address-card-o fa-2x"></i></a>
                                                                </td>

                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </div> <!--end tab61-->
                    <div class="tab-pane" id="tab-71">
                        <ul class="widget-users row  mb-5">
                            <div class="row row-sm">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title">Esperando Acción Ejecutiva</h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-bordered text-nowrap border-bottom" id="basic-datatable">
                                                    <thead>
                                                        <tr align="center">
                                                            <th class="wd-15p border-bottom-0">Ticket N°</th>
                                                            <th class="wd-15p border-bottom-0">Tipo Contacto</th>
                                                            <th class="wd-20p border-bottom-0">Tema Contacto</th>
                                                            <th class="wd-20p border-bottom-0">Nivel/Curso</th>
                                                            <th class="wd-20p border-bottom-0">Fecha Ingreso</th>
                                                            <th class="wd-20p border-bottom-0">Visor</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for acc in acciones %}
                                                            <tr style="background-color: {{ acc.tipocontacto.color }};">
                                                                <td align="center">{{ acc.id }}</td>
                                                                <td align="center">{{ acc.tipocontacto.nombre }}</td>
                                                                <td>
                                                                    <div class="d-flex">
                                                                        <div class="ms-2 mt-0 mt-sm-2 d-block">
                                                                            <h6 class="mb-0 fs-14 fw-semibold">{{ acc.subarea.nombre }}</h6>
                                                                            <span class="fs-12 text-muted">{{acc.subarea.area }}</span>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="d-flex">
                                                                        <div class="ms-2 mt-0 mt-sm-2 d-block">
                                                                            <h6 class="mb-0 fs-14 fw-semibold">{{ acc.nivel.nombre }}</h6>
                                                                            <span class="fs-12 text-muted">{{acc.curso.nombre }}</span>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td class="text-muted fs-15 fw-semibold">{{acc.fechacreacion|date:"d/m/Y"}}</td>

                                                                <td align="center" class="">
                                                                    <a class="btn-primary btn" href="{% url 'visor-ticket' acc.id %}"><i class="fa fa-address-card-o fa-2x"></i></a>
                                                                </td>

                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ul>

                    </div> <!--end tab71-->
                    <div class="tab-pane" id="tab-81">
                        <ul class="widget-users row  mb-5">
                            <div class="row row-sm">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title">Tickets Cerrados</h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-bordered text-nowrap border-bottom" id="basic-datatable">
                                                    <thead>
                                                        <tr align="center">
                                                            <th class="wd-15p border-bottom-0">Ticket N°</th>
                                                            <th class="wd-15p border-bottom-0">Tipo Contacto</th>
                                                            <th class="wd-20p border-bottom-0">Tema Contacto</th>
                                                            <th class="wd-20p border-bottom-0">Nivel/Curso</th>
                                                            <th class="wd-20p border-bottom-0">Fecha Ingreso</th>
                                                            <th class="wd-20p border-bottom-0">Visor</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for cerr in cerrados %}
                                                            <tr style="background-color: {{ cerr.tipocontacto.color }};">
                                                                <td align="center">{{ cerr.id }}</td>
                                                                <td align="center">{{ cerr.tipocontacto.nombre }}</td>
                                                                <td>
                                                                    <div class="d-flex">
                                                                        <div class="ms-2 mt-0 mt-sm-2 d-block">
                                                                            <h6 class="mb-0 fs-14 fw-semibold">{{ cerr.subarea.nombre }}</h6>
                                                                            <span class="fs-12 text-muted">{{cerr.subarea.area }}</span>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="d-flex">
                                                                        <div class="ms-2 mt-0 mt-sm-2 d-block">
                                                                            <h6 class="mb-0 fs-14 fw-semibold">{{ cerr.nivel.nombre }}</h6>
                                                                            <span class="fs-12 text-muted">{{cerr.curso.nombre }}</span>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td class="text-muted fs-15 fw-semibold">{{cerr.fechacreacion|date:"d/m/Y"}}</td>

                                                                <td align="center" class="">
                                                                    <a class="btn-primary btn" href="{% url 'visor-ticket' cerr.id %}"><i class="fa fa-address-card-o fa-2x"></i></a>
                                                                </td>

                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ul>

                    </div> <!--end tab81-->


            </div><!-- COL-END -->
        </div><!--row-->
        
        
        <!-- Script para voler al listado de socios-->
        <script>
            function goBack() {
                window.history.back();
                }
        </script>
        {% endblock body %}
					
		{% block scripts %}
		{% endblock scripts %}