{% load static%}
   <!-- TITLE -->
   <title>Empresa</title>

   <!-- FAVICON -->
   <!-- <link rel="shortcut icon" type="image/x-icon" href="{% static ''%}assets/images/brand/favicon.ico" /> -->

   <!-- BOOTSTRAP CSS -->
   <!-- <link href="{% static ''%}assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" /> -->

   <!-- STYLE CSS -->
   <link href="{% static ''%}assets/css/style.css" rel="stylesheet"/>
   <!-- <link href="{% static ''%}assets/css/dark-style.css" rel="stylesheet"/> -->
   <!-- <link href="{% static ''%}assets/css/skin-modes.css" rel="stylesheet" /> -->

   <!--- FONT-ICONS CSS -->
   <!-- <link href="{% static ''%}assets/css/icons.css" rel="stylesheet"/> -->

   <!-- COLOR SKIN CSS -->
   <!-- <link id="theme" rel="stylesheet" type="text/css" media="all" href="{% static ''%}assets/colors/color1.css" /> -->
<style>
body {
    background-color:white;
}
</style>

		<div class="div"></div>
		<div class="col col-login mx-auto">
			<div class="text-center">
				<!-- <img src="{% static ''%}assets/images/logo.png" alt="logo" height="140px">  -->
				<div class="body">
					<strong>Respuesta del Colegio ha sido actualizada!!</strong>
					<img src="{% static ''%}assets/images/ticketverde.png" height="20px">
				</div> 
			</div>
		</div>
					
		{% block scripts %}
		{% endblock scripts %}